extends ../includes/layout

block content
  .container.h-100
    .row.justify-content-md-center.align-items-center.h-100
      .col-md-5
        if (message)
          .alert.alert-dismissible.fade.show(role="alert" class="alert-"+message.type)
            | #{message.message}
            button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
        .card
          .card-body
            h5.card-title.text-center Iniciar sesión
            form(action='/admin/login' method='POST' enctype='application/x-www-form-urlencoded')
              .mb-3
                label.form-label(for="username") Usuario
                input.form-control#username(type='text' name='username')
              .mb-3
                label.form-label(for="password") Contraseña
                input.form-control#password(type='password' name='password')
              button.btn.btn-primary(type='submit') Iniciar sesión
              
    
