footer#footer.footer.mt-auto.pt-2.bg-secondary
  .container-fluid
    table.center
        p.text-center.text-white Verificador de Bandas 1.34 Copyright &copy; 2020 Pisapapeles Networks Ltda.
        p.text-center.text-white Logos, material grafico y cualquier marca registrada es propiedad de sus respectivos due&ntilde;os
        p.text-center.text-white
          a(href='http://www.pisapapeles.net', style='color:#FBFBFB;', target='_blank')  www.pisapapeles.net