footer#footer.footer.mt-auto.pt-2.custombg
  .container-fluid
    table.center
        p.text-center.text-white.mt-2.mb-1 Verificador de Bandas V#{version} Copyright &copy; 2020 Pisapapeles Networks Ltda.
        p.text-center.text-white.mt-1.mb-1 Logos, material grafico y cualquier marca registrada es propiedad de sus respectivos due&ntilde;os
        p.text-center.text-white.mt-1.mb-2 Pisapapeles Networks Ltda. no se hace responsable por errores en la base de datos.
