nav.mb-1.navbar.navbar-expand-lg.navbar-dark(style='background-color:#23D064')
  a.navbar-brand(href='/')
    img(src='/images/logo.png', height='50px', width='auto')
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent-333', aria-controls='navbarSupportedContent-333', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent-333.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/') Inicio
      li.nav-item
        a.nav-link(href='/acerca-de') Acerca de