nav.mb-1.navbar.navbar-expand-lg.navbar-light.custombg
  .container
    a.navbar-brand(href='/')
      img(src='/images/logo.png', height='50px', width='auto')
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#nvdd', aria-controls='nvdd', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #nvdd.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link(href='/').text-light Inicio
        li.nav-item
          a.nav-link(href='/acerca-de').text-light Acerca de
