header
  .card.text-center
    .card-header
      h1 BNDS
    ul.nav.nav-pills.card-header-pills
      li.nav-item
        a.nav-link.active(href='') Inicio
      li.nav-item
        a.nav-link(href='') Acerca de nosotros