extends includes/layout

block content
  div(style='margin-left: 120px; margin-right: 120px; margin-top: 80px')
    p.align-middle.font-weight-bold Acerca de 
    hr
    p.align-middle Version 1.3.4
    p.align-middle BNDS: Sistema verificador de Bandas
    p.align-middle Estado de la base de datos: 
    p.align-middle ¿Tienes alguna duda? ¿Encontraste algun error? Escribenos a contacto@pisapapeles.net