extends includes/layout

block content
  .d.align-items-center(style='height:100px;')
    p.text-center.align-middle.font-weight-bold Acerca de 
    p.text-center.align-middle Este es un proyecto hecho por alumnos de la Universidad Adolfo Iba&ntilde;ez
    p.text-center.align-middle Para mas informacion, contactarse directamente via correo a bnds@gmail.com
    p.text-center.align-middle &iexcl;Muchas gracias!