extends includes/layout

block content
  .container.mt-2
    h2.align-middle.font-weight-bold Acerca de 
    hr
    p.align-middle BNDS: Sistema verificador de Bandas
    p.align-middle ¿Tienes alguna duda? ¿Encontraste algun error? Escribenos a contacto@pisapapeles.net
