extends includes/layout

block content
  p Acerca de #{title}
  p Este es un proyecto hecho por alumnos de la Universidad Adolfo Ibañez
  p Para mas informacion, contactarse directamente via correo a ejemplo@gmail.com
  p Muchas gracias :)