extends includes/layout

block content
  p.text-center.align-middle.font-weight-bold Acerca de #{title}
  p.text-center.align-middle Este es un proyecto hecho por alumnos de la Universidad Adolfo Ibañez
  p.text-center.align-middle Para mas informacion, contactarse directamente via correo a bnds@gmail.com
  p.text-center.align-middle Muchas gracias :)