extends includes/layout

block content
  h1.offset-md-1= title
  p.offset-md-1 Welcome to #{title}
  form(action='/resultado' method='POST' enctype='application/x-www-form-urlencoded')
    .row
      .col-md-3.offset-md-1
        label Busca tu telefono
        input.form-control(type='text', placeholder='telefono' name='smartphone')
        small#emailHelp.form-text.text-muted (Marca, modelo y variantes)
      .col-md-3.offset-md-1
        label Selecciona tu operadora
        select.form-control(name='operator')
          each operator in operators
            option(value=operator.id) #{operator.name}
    .row 
    button.btn.btn-primary.col-md-1.offset-md-4(type='submit') Verificar
